<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div class="wrapper">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for message in messages %}
            <div class={{message[0]}}>
              <p>{{message[1]}}</p>
            </div>
        {% endfor %}
      {% endwith %}
      <h1>Email Addresses entered:</h1>
      <table>
        <tr>
          {% for v in emails%}
          <td>{{v['email']}}</td>
          <td>{{v['created_at']}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
